@supports (animation-timeline: scroll()) {
  @scroll-timeline intro-tl { source: auto; scroll-offsets: 0% 100%; }
  .intro .halo{
    animation: halo-move 1 both linear;
    animation-timeline: intro-tl;
  }
  @keyframes halo-move{
    from{transform: translateY(10vh) scale(.9); opacity:.2}
    to  {transform: translateY(-15vh) scale(1.1); opacity:.45}
  }
}